.App {
  
}
body {
  margin:20px;

}
.landingpage-container {
  
  background-color: darkgray;

}
.stack-header {
  height: 430px;
  width: 100%;
  display:flex;
 vertical-align: middle ;
    align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: rgb(22, 2, 41);
}
.logo-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: blue;
}
h4 {
  color: brown;
  align-items: center;
}

.sheading {
  display: flex;
  padding: 10px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  color: rgb(64, 7, 97);
}
.push-button {
  height: 20px;
  min-width: auto;
  color:rgb(52, 10, 240);
  vertical-align: middle;
  align-self: center;
   border-style: none;
  background-color: darkgray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
}

hr{ 
size: 40px;
color: aqua;
}